body {
  background: linear-gradient(to right, #0062e6, #33aeff);
  background-image: linear-gradient(
    to right,
    rgb(0, 98, 230),
    rgb(51, 174, 255)
  );
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #212529;
  box-sizing: border-box;
}

.container {
  background-color: white;
  border-radius: 0.25rem;
  height: 515px;
  width: 430px;
  position: absolute;
  top: 50px;
  right: 50%;
  transform: translateX(50%);
}

.container h1 {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin: 30px 0;
}

form {
  width: 350px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
}

form .inputbox .input {
  width: 320px;
  text-align: left;
  color: #495057;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  border-radius: 2rem;
  border: 1px solid #ced4da;
  padding: 15px;
  margin-bottom: 15px;
}

form .check {
  border: 1px solid #abd5bd;
  height: 1rem;
  width: 1rem;
  margin-bottom: 20px;
}

div form .signIn {
  width: 100%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  border-color: #007bff;
  background-color: #007bff;
  color: white;
}

hr {
  margin: 24px 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.thirdParty {
  font-size: 80%;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  background-color: transparent;
  border: 1px solid transparent;
}

.thirdParty .fab {
  padding-right: 10px;
}
